.score-box{
    width:40%
}
.button.small:hover {
    background-color: darkorange; 
   
  }
  .button.small {
    border-radius: 10px;
    font-size: 15px;
    padding: 3px 9px;
    color: white; 
    background-color: orange; 
    border: none; 
    
  }
  .container1 {
    display: flex;
    justify-content: center;

  }
  .button.small1:hover {
    background-color: darkorange; 
   
  }
  .button.small1 {
    border-radius: 10px;
    font-size: 15px;
    padding: 3px 9px;
    color: white; 
    background-color: orange; 
    border: none; 
    margin-top: 10px;
  }